html {
  background-color: #F5F5F5;
  font-family: sans-serif;
}

body {
  margin: 0 auto;
  width: 100%;
  /* max-width: 80ch; */
  /* padding: 1rem; */
  line-height: 1.5;
}

* {
  box-sizing: border-box;
}

h1 {
  margin: 1rem 0;
  color: #E86B79;
  font-size: 2.5rem;
}

.w-wrap {
  padding: 0 2rem;
  width: 100%;
}

header {
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: #F5F5F5;
  height: 5rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo img{
  height: 3rem;
}

/* ナビゲーションのスタイル */
.hamburger {
  padding-right: 20px;
  cursor: pointer;
}

.hamburger .line {
  display: block;
  width: 40px;
  height: 5px;
  margin-bottom: 10px;
  background-color: #E86B79;
}

.nav-links {
  width: 100%;
  top: 5rem;
  left: 48px;
  background-color: #ff9776;
  display: none;
  margin: 0;
}

.nav-links a {
  display: block;
  text-align: center;
  padding: 10px 0;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
  /* text-transform: uppercase; */
  color: #E86B79;
  transition: 0.7s;
}

/* .nav-links a:hover, a:focus {
  color: #00897B;
} */

.title-rubi {
  color: #E86B79;
  font-weight: 500;
}

.expanded {
  display: unset;
}

@media screen and (min-width: 636px) {
  .nav-links {
    margin-left: 5em;
    display: block;
    position: static;
    width: auto;
    background: none;
  }

  .nav-links a {
    display: inline-block;
    padding: 15px 20px;
  }

  .hamburger {
    display: none;
  }
}

html.dark {
  background-color: #0d0950;
  color: #fff;
}

.dark .nav-links a {
  color: #fff;
}

html.dark header {
  background-color: #0d0950;
}