---
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "Ryousukeのブログ";
---


<BaseLayout pageTitle={pageTitle}>
	<p>日常の出来事や開発メモなどを載せていきます。</p>
	<ul>
		<li><a href="/posts/post-1">記事1</a></li>
		<li><a href="/posts/post-2">記事2</a></li>
		<li><a href="/posts/post-3">記事3</a></li>
	</ul>
</BaseLayout>
