---
import BaseLayout from "../layouts/BaseLayout.astro";
import Greeting from "../components/Greeting";
import ContentFrame from "../components/ContentFrame.astro";
import Hero from "../components/Hero.astro";
const pageTitle = "ホーム";
---

<BaseLayout pageTitle={pageTitle}>
	<Hero slot="hero" />
	<ContentFrame chapterTitle="Works" rubi="作品">
		<h2>サブタイトル</h2>
		<Greeting client:load messages={["Hej", "Hallo", "Hola", "Habari"]} />
	</ContentFrame>
	<ContentFrame chapterTitle="About" rubi="私について">

	</ContentFrame>	
</BaseLayout>

<style>
	
</style>