---
import BaseLayout from "../layouts/BaseLayout.astro";
import Greeting from "../components/Greeting";
import ContentFrame from "../components/ContentFrame.astro";
const pageTitle = "ホーム";
---

<BaseLayout pageTitle={pageTitle}>
	<ContentFrame title="Works" rubi="-作品-">
		<h2>サブタイトル</h2>
		<Greeting client:load messages={["Hej", "Hallo", "Hola", "Habari"]} />
	</ContentFrame>
</BaseLayout>

